<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BarberPole.io</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

<% if logged_in?%>
  <header class="banner-header" id="myHeader">
    <section class="header-left">
      <div class="company-logo">Construction Co</div>
    </section>
    <section class="header-mid">
      <div class="body-filters">
        <form action="assets/new" id="createNew" method='get'><button class="btn btn-primary">Create New Asset</button></form>
        <input placeholder="Seach" type="text" id="myInput" onkeyup="searchFunction()">
      </div>
    </section>
    <section class="header-right">
        <p>Logged in as: <%= current_user.email %></p>
        <a href="/my_assets">View My Assets</a>
        <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-warning">Logout</button>
        </form>
    </section>
  </header>
  <% else %>
    <%# <a href="/login">Login</a> %>
  <% end %>
  <%= yield %>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="javascripts/application.js"></script>
</html>