<h1>Login</h1>

<form action="/sessions" method="post">
<label for="">Email: </label>
<input type="text" name="email">
<label for="">Password: </label>
<input type="password" name="password">
<button class="btn btn-primary">Login</button>
</form>
<form action="/register" method="get">
<button class="btn btn-secondary">Register</button>
</form>

