<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-img-left d-none d-md-flex">
            <div class="card-body">
                <h1>Create a new Asset</h1>
                <form action="/assets" method="post">
                <label for="">Asset Description: </label>
                <input type="text" class="form-control" name="description">
                <br>
                <label for="">Category: </label>
                    <select class="form-control" id="sel1" name="category">
                    <option value="Forklift">Forklift</option>
                    <option value="Loader">Loader</option>
                    <option value="Mixer">Mixer</option>
                    <option value="Crane">Crane</option>
                    <option value="Excurvator">Excurvator</option>
                </select>
                <label for "">Purchase Date: </label>
                <input type="date" class="form-control" name="purchase_date">
                <label for "">Rego Expiry: </label>
                <input type="date" class="form-control" name="rego_expiry">
                <br>  
                <label for="">Purchase Cost: </label>
                <input type="number" class="form-control" name="purchase_cost">
                <br>
                <button class="btn btn-outline-primary">Submit</button>

                </form>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>

